[submodule "ref/mcuf"]
	path = ref/mcuf
	url = https://github.com/mcuFramework/mcuf.git
[submodule "ref/bsp_arterytek_at32f415"]
	path = ref/bsp_arterytek_at32f415
	url = https://github.com/mcuFramework/bsp_arterytek_at32f415.git
[submodule "ref/core_arterytek_at32f415"]
	path = ref/core_arterytek_at32f415
	url = https://github.com/mcuFramework/core_arterytek_at32f415.git
